<!--
fxLayout tells to use flex
fxFlex is used for the nested elements with width and other calcs
wrap allows the tiles to wrap when shown on smaller screens
to fxLayoutGap "grid" can be added as well - that way it will spread it out?

For responsive, use fxFlex.xs - small devices fxFlex.sm tablets..
-->
<mat-toolbar color="primary">
    <span>Card view demo</span>
    <div fxHide.lt-md>
      <span class="column-label">Columns</span>
      <mat-slider [max]="6" [color]="black" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true">
      </mat-slider>
    </div>
  </mat-toolbar>
<div fxLayout="row wrap"  fxLayoutGap="12px">
<mat-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33.3%" *ngFor="let tile of tiles" class="example-card">
    <img mat-card-image src="{{tile.imageSrc}}" alt="{{tile.alt}}">
    <mat-card-content>
      <p>
        {{tile.title}}
      </p>
    </mat-card-content>
  </mat-card>
</div>